.Ticker {
  height: 100%;

  &__price_container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100%;
  }

  &__price {
    font-size: 16vw;
    text-align: center;
  }

  &__symbol {
    display: inline;
    opacity: 0.7;
  }

  &__value {
    display: inline;
  }
}
