html {
  height: 100%;
}

body {
  color: #fff;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: Glegoo;
  background-color: #000;
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#root {
  height: 100%;
}

button {
  border-color: transparent;
  padding: 0.25rem;
  border-radius: 4px;
}
